/EjemploAccesoSecuencial/nbproject/private/
/EjemploAccesoSecuencial/build/
/Actividad2/nbproject/private/
/Actividad2/build/
/Actividad3/nbproject/private/
/Actividad3/build/
/CervezaAccesoDirecto/nbproject/private/
/CervezaAccesoDirecto/build/
